footer.footer
    .footer__row
        ul.footer__menu
            li.footer__menu-item Мои работы
            li.footer__menu-item Обо мне
            li.footer__menu-item Блог
            li.footer__menu-item Авторизация
        .footer__social
            ul.social
                li.social__item 
                    a.social__link(href="#") Фэйсбук
                li.social__item 
                    a.social__link(href="#") Твиттер
                li.social__item
                    a.social__link(href="#")  Инстаграм
    .footer__row
        .footer__about Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer__copyright © Шишкин Иван | создано с любовью в LoftSchool | 2018