header.header
    .header__top
        ul.social
                li.social__item 
                    a.social__link(href="#")
                        svg(width="31px" height="18px").social__img
                            use(xlink:href='./assets/images/svg/symbol_sprite.svg#icon-vk')
                li.social__item 
                    a.social__link(href="#")
                        svg(width="31px" height="18px").social__img
                            use(xlink:href='./assets/images/svg/symbol_sprite.svg#icon-github')
                li.social__item 
                    a.social__link(href="#")
                        svg(width="31px" height="18px").social__img
                            use(xlink:href='./assets/images/svg/symbol_sprite.svg#icon-in')
        .hamburger
    .header__middle
        .my
            .my__img
                img(src="./assets/images/i.jpg", alt="Это Я!")
            .my__title Шишкин Иван
            .my__text Личный сайт веб разработчика
    .header__arrow
        .strelka 
            a(href="#")
                img(src="./assets/images/icons/arrow_down.svg", alt="Вниз")
    //- .header__bottom
