header.header
    .header__top
        ul.social
            li.social__item 
                a.social__link(href="#") Фэйсбук
            li.social__item 
                a.social__link(href="#") Твиттер
            li.social__item
                a.social__link(href="#")  Инстаграм
        .hamburger
    .header__middle
        .my
            .my__img
                img(src="./assets/images/i.jpg", alt="Это Я!")
            .my__title Шишкин Иван
            .my__text Личный сайт веб разработчика
    .header__arrow
        .strelka 
            a(href="#")
                img(src="./assets/images/icons/arrow_down.svg", alt="Вниз")
    //- .header__bottom
