extends ../template

block variables
    - var title = 'Блог'
    - var headertitle = 'blog_header'
    - var title1 = 'Блог'
    - var title2 = 'Статья, которые я написал'

block content
    .blog
        .blog__traingle
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").traingle
                polygon(points="0,0 0,86 500.8,86 500.8,75.5").traingle__left.traingle--blog
                polygon(points="1000,0 1000,86 500,86 500,75.5").traingle__right.traingle--blog
        .blog__left-menu
            .left-menu
                ul.left-menu__list
                    - var values = [{"active": "left-menu__item--active","text": "Самое важное в SASS"},{"active": "","text": "Приёмы в вёрстке, без которых не обходится ни один сайт"},{"active": "","text": "Самый необходимый набор Gulp плагинов"},{"active": "","text": "Почему я выбрал Jade"}];
                    for val in values
                        li(class= val.active).left-menu__item
                            a(href="#" class=`left-menu__link`)= val.text                        
        .blog__content
            .blog-articles
                ul.blog-articles__list
                    li.blog-articles__item
                        .blog-articles__title 
                            .zagolovok.zagolovok--blog
                                h2 Самое важное в SASS
                        .blog-articles__date 22 ноября 2017
                        .blog-articles__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    li.blog-articles__item
                        .blog-articles__title 
                            .zagolovok.zagolovok--blog
                                h2 Приёмы в вёрстке, без которых не обходится ни один сайт
                        .blog-articles__date 13 ноября 2017
                        .blog-articles__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.