.footer{
    height: 148px;
    background: rgba($color: #373e42, $alpha: 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "RobotoLight",Arial, Helvetica, sans-serif;
    font-size: 16px;
    &__row{
        width: 95%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        display: flex;
        font-family: "RobotoMedium",Arial, Helvetica, sans-serif;
        &-item{
            margin: 0 10px;
        }
    }
    &__social{
        
    }
    &__about{
        width: 40%;
    }
    &__copyright{
        
    }
}
.social--footer .social__img{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social--footer .social__item{
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        opacity: 1;
        background: #fff;
    }
    &:hover .social__img{
        fill: $gray;
    }
}