.header {
    min-height: 650px;
    height: 100vh;
    background: url('../images/bg_header.jpg') center center no-repeat;
    background-size: cover; 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &__top {
        width: 95%;
        margin-top: 10px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__middle {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    &__arrow {
        flex: 0.2;
    }
    &__img-opacity{
        width: 80%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: .06;
        fill: #fff;
        
    }
}
.social{
    display: flex;
    &__item{
        width: 33px;
        height: 24px;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    &__img{
        display: flex;
        align-items: center;
        fill: #fff;
        opacity: .5;
        &:hover{
            opacity: 1;
        }
    }
}
.i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__img {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-size: 35px;
        font-family: "RobotoMedium",Arial, Helvetica, sans-serif;
    }
    &__text{
        font-family: "RobotoLight",Arial, Helvetica, sans-serif;
        font-size: 16px;
    }   
}
.hamburger{
    position: relative;
    cursor: pointer;
    z-index: 120;
&__button{
    padding: 0;
    border: 0;
    width: 24px;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    cursor: pointer;
    z-index: 120;
}
    
    &::before{
        content: '';
        position: absolute;
        // top:-10px;
        width: 24px;
        height: 5px;
        border-radius: 3px;
        background: #fff;
    }
    &::after{
        content: '';
        position: absolute;
        bottom:-10px;
        width: 24px;
        height: 5px;
        border-radius: 3px;
        background: #fff;
    }
}
.strelka{
    border: 0;
    background: transparent;
    &__img{
        fill: #fff;
    }
}